main {
    background: radial-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(../assets/background_home.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

main h1 {
    font-weight: bolder;
}

main p {
    font-size: 23px;
    margin: 2rem 0;
}

main a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: #333333;
}

main a:hover {
    transition: 0.5s;
    color: #333333;
    background-color: #80F1FE;
}

@media screen and (max-width: 600px) {
    main p {
        font-size: 18px;
    }
}