main {
    background: url(../assets/background_menu.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
    margin: 2rem;
}

main {
    height: 100vh;
}

.menu-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 300px;
    margin: 0 1rem;
    border-radius: 25px;
    color: black;
    overflow: hidden;
}

.popular {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular h2 {
    padding: 0 2rem;
    font-size: 20px;
    color: white;
    background-color: #FFD700;
}


.menu-item img {
    width: 100px;
    height: 100px;
    margin: 2rem 0;
}


