main{
    margin: 5rem 30rem;
}

.title{
    display: flex;
    justify-content: center;
}

input{
    outline: 0;
}

.input-text, .input-text:focus{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 1rem 0;
}

input[type=radio]{
    margin: 1rem 0;
}

#female{
    margin-left: 1rem;
}

#city{
    width: 100%;
    margin-top: 0.5rem;
}


.button-container{
    display: flex;
    justify-content: center;
}

.submit-button{
    display: flex;
    justify-content: center;
    padding: 0.3rem 2rem;
    border: 1px solid black;
    border-radius: 10rem;
    background-color: black;
    color: white;
    transition: 0.5s;
    font-size: 15px;
}

.submit-button:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
    cursor: pointer;
}



